@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr-lighter: #f1faee;
  --clr-light: #a8dadc;
  --clr-dark: #457b9d;
  --clr-red: #e63946;
}

body {
  font-size: 0.75em;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--clr-lighter);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

.btn {
  background-color: transparent;
  font-size: inherit;
  padding: 0.25rem 0.75rem;
  border: none;
  letter-spacing: 1.75px;
  text-transform: capitalize;
}

.btn:hover {
  text-decoration: underline;
}

.btn:active {
  text-decoration: none;
  transform: scale(0.9);
}

nav {
  height: 4.5rem;
  background-color: var(--clr-dark);
  display: flex;
  justify-content: center;
}

.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1350px;
}

.nav-links {
  display: flex;
  gap: 2rem;
  font-size: 1rem;
}

.logo,
.nav-btn {
  color: var(--clr-lighter);
}

main {
  height: calc(100vh - 5rem);
  display: grid;
  place-content: center;
}

.game {
  padding: 2rem;
  max-width: 800px;
}

.game-components {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}

.btn-container {
  margin: 0.5rem 0;
  display: flex;
  gap: 0.75rem;
}

.main-btn {
  outline: 3px solid var(--clr-dark);
  font-weight: bold;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 800px;
}

.square-btn {
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  color: var(--clr-dark);
  border: 2px rgba(0, 0, 0, 0.719) solid;
}

.square-btn:hover,
.square-btn:active {
  text-decoration: none;
  transform: none;
}

section {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.section-center {
  width: 80%;
  text-align: center;
}

section p {
  margin: 1rem 0;
  font-size: 1.05rem;
  line-height: 1.5;
}

.back-btn {
  font-size: 1rem;
  background-color: var(--clr-dark);
  color: var(--clr-lighter);
  border-radius: 5px;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1em;
  }

  .square-btn {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: 1.5em;
  }
}
